[access]
	inheritFrom = All-Projects
[project]
	description = Outperforming BigInteger since 2015. Possibly providing the fastest available arbitrary-precision arithmetic integer classes purely written in Java. Because performance matters (and we like Java)!
[access "refs/*"]
	owner = group user/Adrian Dobrita (AdoAdoAdo)
[access "refs/for/refs/*"]
	read = group user/Adrian Dobrita (AdoAdoAdo)
	push = group user/Adrian Dobrita (AdoAdoAdo)
	label-Code-Review = -2..+2 group user/Adrian Dobrita (AdoAdoAdo)
	label-Verified = -1..+1 group user/Adrian Dobrita (AdoAdoAdo)
	rebase = group user/Adrian Dobrita (AdoAdoAdo)
	removeReviewer = group user/Adrian Dobrita (AdoAdoAdo)
	submit = group user/Adrian Dobrita (AdoAdoAdo)
[access "refs/heads/*"]
	read = group user/Adrian Dobrita (AdoAdoAdo)
	create = group user/Adrian Dobrita (AdoAdoAdo)
	push = +force group user/Adrian Dobrita (AdoAdoAdo)
	pushMerge = group user/Adrian Dobrita (AdoAdoAdo)
[access "refs/tags/*"]
	push = group user/Adrian Dobrita (AdoAdoAdo)
	push = +force group user/Adrian Dobrita (AdoAdoAdo)
